.landing-container {
  min-height: 100vh;
  background: #d3f3f8;
  color: #1B3C53;
}

.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px;

}


.logo {

  font-size: 28px;
  font-weight: 700;
  color: #d3f3f8;

}


.nav-buttons button {

  padding: 10px 22px;
  border-radius: 8px;
  border: none;

  margin-left: 15px;

  cursor: pointer;

  font-size: 15px;

}


.login-btn {

  background: transparent;
  border: 1px solid #d3f3f8 !important;
  color: #d3f3f8;

}
.login-btn:hover{
  background: #d3f3f8;
  color: #1B3C53;
  transition: all 0.3s ease-in-out;
}


.signup-btn,
.primary-btn {

  background: #d3f3f8;
  color: #1B3C53;

}
.signup-btn:hover,
.primary-btn:hover{
  background: #1B3C53;
  color: #d3f3f8;
  transition: all 0.3s ease-in-out;
}


.hero {

  display:flex;
  justify-content:center;
  align-items:center;

  padding:80px 70px;

}


.hero-content {

  width:100%;
  max-width: 700px;

}


.hero-content h1 {

  font-size:60px;
  line-height:1.2;

}


.hero-content span {

  color:#1b3c53;

}


.hero-content p {

  margin-top:25px;

  font-size:18px;

  color:#475569;

  line-height:1.6;

}



.hero-buttons {

  margin-top:35px;

}


.hero-buttons button {

  padding:14px 28px;

  border-radius:10px;

  border:none;

  cursor:pointer;

  margin-right:15px;

  font-size:16px;

}



.secondary-btn {

  background:white;

  color:#1B3C53;

  border:1px solid #1B3C53 !important;

}
.secondary-btn:hover {
  background:#1B3C53;
  color:#d3f3f8;
  transition: all 0.3s ease-in-out;
}

.footer {

  margin-top: 100px;

  padding: 20px 10px;

  text-align: center;

  border-top: 1px solid grey;

  background: #1b3c53;

}


.footer p {

  color: #d3f3f8;

}

.footer-copy {

  margin-top: 15px;
  font-size: 14px;

}

